<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="middle">
        <form class="form" action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="h1" for="excel">BrowesFile</label><input id="fileSelect" class="form-control" name="excel"
                    type="file"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <input class="btn" type="submit" value="submit">
            </div>

        </form>
    </div>


</body>

</html>