<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="middle">
        <div class="flex">
            <div class="first">Thank You</div>
            <div class="second">File Successfully Uploaded</div>
            <div class="third">Your record will be processed shortly.</div>
            <a href="/"><button id="button" class="btn">BACK TO HOME</button></a>
        </div>
    </div>


</body>

</html>